{% extends 'base.html.twig' %}

{% block content %}
    <div class="contour" style="margin-bottom:10px;">
        <div class='text-center ui-state-default ui-corner-all'>
            <p>Tournoi du {{ tournoi.date|date('Y-m-d H:i:s') }}</p>
        </div>
    </div>
    <div class="date_last_update">
        <span>{{ date_last_update|date('Y-m-d H:i:s') }}</span>
        <input type="hidden" id="date_last_update" value="{{ date_last_update|date('Y-m-d H:i:s') }}" />
    </div>
    <div class="div_classement">
        {% include 'siteTournoiBundle:Default:div_classement.html.twig' %}
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="liste_matchs">
                {% include 'siteTournoiBundle:Default:liste_matchs.html.twig' %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="liste_buteurs">
                {% include 'siteTournoiBundle:Default:liste_buteurs.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script type="application/javascript">
        var socket = null;
        $(function(){
            var xhr = null;
            function updateTournoi(){
                xhr = $.ajax({
                    timeout:45000,
                    url: "{{ path('update', { 'id_tournoi': tournoi.id }) }}",
                    data:{'date_sent':$('#date_last_update').val()},
                    dataType: 'json',
                    type: 'post',
                    cache: 'false',
                    success: function(data, textStatus, xhr) {
                        if(data.change){
                            $('#date_last_update').val(data.date_last);
                            $('.date_last_update span').text(data.date_last);
                            if(data.liste_matchs){
                                $('.liste_matchs').html(data.liste_matchs);
                            }
                            if(data.div_classement){
                                $('.div_classement').html(data.div_classement);
                            }
                            if(data.liste_buteurs){
                                $('.liste_buteurs').html(data.liste_buteurs);
                            }
                        }
                    }
                });
            }


            socket = io.connect( 'http://realtime.pronoteam.fr:3000' );

            socket.on( 'update', function( data ) {
                if(data.id_tournoi == {{ tournoi.getId() }}){
                    updateTournoi();
                }
            });
        });
    </script>
{% endblock %}