{% extends 'ajax.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr': {'id': 'frmScore'}}) }}
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6 text-center"><h3>{{ match.getUserDom() }}</h3></div>
            <div class="col-xs-6 text-center"><h3>{{ match.getUserExt() }}</h3></div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div id="scoreDomicile" class="scoreDomicile input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary moins"><i class="fa fa-minus"></i></button>
                    </span>
                    {{ form_widget(form.scoreDom, {'attr': {'class': 'text-center inputScore form-control'}}) }}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary plus"><i class="fa fa-plus"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-xs-6">
                <div id="scoreExterieur" class="scoreExterieur  input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary moins"><i class="fa fa-minus"></i></button>
                    </span>
                    {{ form_widget(form.scoreExt, {'attr': {'class': 'text-center inputScore form-control'}}) }}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary plus"><i class="fa fa-plus"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="buteursscoreDomicile">
                    {%  for value in valuesDom %}
                        <div style="{% if value == null %}display:none{% endif %}">
                            <select name="buteurs[{{ match.getEquipeDom().getId() }}][]" {% if value == null %}disabled=disabled{% endif %} class="form-control">
                                {% for buteur in selectDom %}
                                    <option {% if value == buteur %}selected=selected{% endif %} value="{{ buteur }}">{{ buteur }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="buteursscoreExterieur">
                    {%  for value in valuesExt %}
                        <div style="{% if value == null %}display:none{% endif %}">
                            <select name="buteurs[{{ match.getEquipeExt().getId() }}][]" {% if value == null %}disabled=disabled{% endif %} class="form-control">
                                {% for buteur in selectExt %}
                                    <option {% if value == buteur %}selected=selected{% endif %} value="{{ buteur }}">{{ buteur }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            {{ form_errors(form) }}
        </div>
    </div>

    <div class="modal-footer">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            var xhrscore = null;
            function saveScore(frm, closeDialog){
                if(xhrscore)
                    xhrscore.abort();
                frm.find('button[type=submit]').button('loading');
                xhrscore = $.ajax({
                    timeout:45000,
                    url: frm.prop('action'),
                    data:frm.serialize(),
                    dataType: 'json',
                    type: 'post',
                    cache: 'false',
                    success: function(data, textStatus, xhr) {
                        if(data.html){
                            $('#myModal .modal-content').html(data.html);
                        } else {
                            frm.find('button[type=submit]').button('reset');
                        }
                        if(closeDialog){
                            $('#myModal').modal('hide');
                        }
                    }
                });
            }
            $('.moins').click(function(){
                var parent = $(this).parent().parent();
                var input = parent.find('.inputScore');
                var value = input.val();
                value--;
                if(value < 0){
                    value = 0;
                }
                input.val(value);
                var buteursDiv = "buteurs" + parent.prop('id');
                $( "." + buteursDiv + ">div").hide().find('select').prop('disabled','disabled');
                $( "." + buteursDiv + ">div:lt("+value+")").show().find('select').prop('disabled',false);
                //saveScore($('#frmScore'),false);
            });
            $('.plus').click(function(){
                var parent = $(this).parent().parent();
                var input = parent.find('.inputScore');
                var value = input.val();
                value++;
                input.val(value);
                var buteursDiv = "buteurs" + parent.prop('id');
                $( "." + buteursDiv + ">div").hide().find('select').prop('disabled','disabled');
                $( "." + buteursDiv + ">div:lt("+value+")").show().find('select').prop('disabled',false);
                //saveScore($('#frmScore'),false);
            });

            $(document).ready(function() {
                $('#frmScore').submit(function(e){
                    saveScore($('#frmScore'),true);
                    e.preventDefault();
                    return false;
                });
                /*var $containerdomicile = $('div#form_buteursDomicile');
                var index = $container.find(':input').length;
                addCategory($containerdomicile);

                function addCategory($container) {
                    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                            .replace(/__name__/g, index));
                    $container.append($prototype);
                    index++;
                }*/
            });
        });
    </script>
{% endblock %}

